<!--
  Generated template for the AjouterProjetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Suivi Gasoil</ion-title>

    <ion-buttons end *ngIf="!modeEditionAffichage">
      <button ion-button color="secondary" (click)="modeEdition()">
        Modifier
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-item padding="0" style="border-bottom: 0px;">
    <h1 >Bon gasoil :</h1>

  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Nom personnel :
    </ion-label>
    <ion-input text-center type="text" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.nompersonnelbongasoil"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Prix unitaire :
    </ion-label>
    <ion-input text-center type="number" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.prixunitairebongasoil"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Quantité gasoil :
    </ion-label>
    <ion-input text-center type="number" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.quantitegasoilbongasoil"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Montant gasoil :
    </ion-label>
    <ion-input text-center type="number" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.montantgasoilbongasoil"  ></ion-input>
  </ion-item>


  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Station:</ion-label>
    <ion-select   name = "Type vehicule" [disabled]="!modeEditionAffichage" [(ngModel)]="objetActuel.refstationbongasoil">
      <ion-option *ngFor="let item of listeChoixStation" [value]="item.id">{{item.nom}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Type véhicule:</ion-label>
    <ion-select #TypeVehicule  name = "Type vehicule" [disabled]="!modeEditionAffichage" [(ngModel)]="typevehicule">
      <ion-option *ngFor="let item of listeChoixTypesVehicule" [value]="item.id">{{item.nomtype}}</ion-option>
      <ion-option value="">Aucune</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="TypeVehicule.value == '2'">
  <ion-label  style="opacity:1; color: #000;font-weight: bold">Type engin:</ion-label>
  <ion-select #TypeEngin  name = "Type vehicule" [disabled]="!modeEditionAffichage" [(ngModel)]="objetActuel.reftypeenginbongasoil">
    <ion-option *ngFor="let item of listeChoixTypesEngin" [value]="item.id">{{item.nomtypeengin}}</ion-option>
    <ion-option value="">Aucune</ion-option>
  </ion-select>
  </ion-item>

  <ion-item *ngIf="TypeVehicule.value != '' && TypeVehicule.value">
    <ion-label  style="opacity:1; color: #000;font-weight: bold">Matricule:</ion-label>
    <ion-select  name = "Type vehicule" [disabled]="!modeEditionAffichage" [(ngModel)]="objetActuel.refvehiculebongasoil">
      <div *ngFor="let item of listeChoixVehicule">
        <ion-option *ngIf="(TypeVehicule.value == item.reftypevehiculevehicule) && (objetActuel.reftypeenginbongasoil == item.reftypeenginvehicule)" [value]="item.id">{{item.matricule}}</ion-option>
      </div>
      <ion-option value="">Aucune</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="TypeVehicule.value == '' ">
    <ion-label  style="opacity:1; color: #000;font-weight: bold">Matricule :</ion-label>
    <ion-select  name = "Type vehicule" [disabled]="!modeEditionAffichage" [(ngModel)]="objetActuel.refvehiculebongasoil">
      <div *ngFor="let item of listeChoixVehicule">
        <ion-option  [value]="item.id">{{item.matricule}}</ion-option>
      </div>
      <ion-option value="">Aucune</ion-option>
    </ion-select>
  </ion-item>

  <ion-item style="color: #000;font-weight: bold">
    <ion-label>Photo Bon gasoil:</ion-label>

  </ion-item>

  <img  [(src)]="objetActuel.photobgbongasoil" *ngIf="objetActuel.photobgbongasoil"/>

  <br>

  <div text-center>
    <button ion-button round *ngIf="modeModificationCreation || (!modeModificationCreation && modeEditionAffichage)" (click)="photoChooser(objetActuel,'photobgbongasoil')">
      Charger Photo  <ion-icon padding name="camera"></ion-icon>
    </button>
  </div>


  <br><br>
  <button *ngIf="!modeModificationCreation && modeEditionAffichage" type="submit" color="secondary" ion-button  block (click)="enregistrerNouvelObjet()">
    Ajouter Bon Gasoil
  </button>

  <button *ngIf="modeModificationCreation" type="submit" color="tertiary" ion-button  block (click)="enregistrerModificationObjet()">
    Enregistrer modifications
  </button>






</ion-content>
