<!--
  Generated template for the AjouterProjetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Gestion Fournisseur</ion-title>

    <ion-buttons end *ngIf="!modeEditionAffichage">
      <button ion-button color="secondary" (click)="modeEdition()">
        Modifier
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>



<ion-content padding>

  <ion-item padding="0" style="border-bottom: 0px;">
    <h1 >Bon gasoil :</h1>

  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Nom personnel :
    </ion-label>
    <ion-input text-center type="text" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.nompersonnelbongasoil"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Prix unitaire :
    </ion-label>
    <ion-input text-center type="number" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.prixunitaire"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Quantité gasoil :
    </ion-label>
    <ion-input text-center type="number" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.quantitegasoil"  ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;font-weight: bold">
      Montant gasoil :
    </ion-label>
    <ion-input text-center type="number" name="adressefournisseur" [disabled]="!modeEditionAffichage" placeholder="" [(ngModel)]="objetActuel.montantgasoil"  ></ion-input>
  </ion-item>


  <ion-item>
    <ion-label style="opacity:1; color: #000;font-weight: bold">Type véhicule:</ion-label>
    <ion-select  name = "unites" [disabled]="!modeEditionAffichage" [(ngModel)]="objetActuel.uniteproduitfournisseur">
      <ion-option *ngFor="let item of listeChoixUnites" [value]="item.libelle">{{item.description}}</ion-option>
      <ion-option value="">Aucune</ion-option>
    </ion-select>
  </ion-item>

  <ion-item style="padding-bottom:4px;padding-top: 4px">
    <ion-label>Photo Bon gasoil:</ion-label>

  </ion-item>

  <img  [(src)]="'data:image/jpeg;base64,' + objetActuel.photobgbongasoil" *ngIf="objetActuel.photofourniture"/>

  <br>
  <br>

  <div text-center>
    <button ion-button round (click)="photoFournitureChooser()">
      Charger Photo  <ion-icon padding name="camera"></ion-icon>
    </button>
  </div>


  <br><br>
  <button *ngIf="!modeModificationCreation && modeEditionAffichage" type="submit" color="secondary" ion-button  block (click)="enregistrerNouvelObjet()">
    Créer Projet
  </button>

  <button *ngIf="modeModificationCreation" type="submit" color="tertiary" ion-button  block (click)="enregistrerModificationObjet()">
    Enregistrer modifications
  </button>






</ion-content>
<!--
  Generated template for the SuiviGasoilAjouterBonGasoilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>suiviGasoilAjouterBonGasoil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

</ion-content>
