
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Gestion Fournisseurs</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-item padding="0">
    <h1 >Liste fournisseurs:</h1>
    <ion-icon name="add-circle" (click)="ajouterItem()" item-end></ion-icon>
  </ion-item>


  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <br>
  <ion-list>
    <div *ngFor="let item of listeFournisseursFiltree">

      <button ion-item *ngIf="item" (click)="itemTapped($event, item)">
        {{item.raisonsocialefournisseur}}
        <p *ngIf="item.adressefournisseur">Adresse : {{item.adressefournisseur}}</p>
        <button ion-button clear item-end  (click)="detailItemTapped($event, item)">Détail</button>
      </button>


    </div>

  </ion-list>


</ion-content>
