
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Demande d'achat</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item padding="0">
    <h1 >Informations:</h1>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;" >
      Projet : {{informationsActuelles.nomprojet}}
    </ion-label>

  </ion-item>

  <ion-item>
    <ion-label style="color: #000;">
      Chantier : {{informationsActuelles.nomchantier}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;">
      Demande Nº : {{informationsActuelles.iddemande}}
    </ion-label>
  </ion-item>

  <ion-item>
    <ion-label style="color: #000;">
      Demandeur : {{informationsActuelles.nomdemandeur}} {{informationsActuelles.prenomdemandeur}}
    </ion-label>
  </ion-item>



  <ion-item (click)="verifierListeArticleVide($event)">
    <ion-label style="opacity:1;color: #000;width: 100%;max-width: 100%; !important">Fournisseurs:</ion-label>
    <ion-select  [disabled]="listeArticles.length"  [selectOptions]="selectFournisseursOptions" name = "fournisseurs" [(ngModel)]="sousdemandeActuelle.idfournisseur" [placeholder]="informationsActuelles.raisonsocialefournisseur">
      <ion-option  *ngFor="let item of listeFournisseurs" [value]="item.idfournisseur">{{item.raisonsociale}}</ion-option>
      <ion-option  value="NULL">Aucune</ion-option>
    </ion-select>
  </ion-item>


  <ion-item>
    <p>Date modification: {{sousdemandeActuelle.datemodificationsousdemande}} </p>
    <p>Montant total HT: {{sommeTotaleHT()}} </p>
    <p>Montant total TTC: {{sommeTotaleTTC()}} </p>
    <p *ngIf="informationsActuelles?.traitee == 'TRUE'">Traitée: oui</p>
    <p *ngIf="informationsActuelles?.traitee != 'TRUE'">Traitée: non</p>
    <p *ngIf="informationsActuelles?.validee == 'TRUE'">Validée: oui</p>
    <p *ngIf="informationsActuelles?.validee != 'TRUE'">Validée: non</p>
    <p *ngIf="informationsActuelles?.receptionnee == 'TRUE'">Récéptionnée: oui</p>
    <p *ngIf="informationsActuelles?.receptionnee != 'TRUE'">Récéptionnée: non</p>
  </ion-item>




  <ion-item padding="0">
    <h1 >Liste des articles:</h1>
  </ion-item>



  <ion-list>

    <button ion-item *ngFor="let item of listeArticles"   (click)="itemTapped($event, item)">


      Num article : {{item.idarticle}}
      <p>Désignation: {{item.nomproduit}} </p>
      <p>Unité: {{item.unite}} </p>
      <p>Quantité: {{item.quantitesaisie}} </p>
      <p>Quantité récéptionnée: {{item.quantiterecue}} </p>
      <p>Prix HT: {{item.prixarticle}} </p>
      <p>TVA: {{item.tvaarticle}} </p>
      <p>Montant HT: {{(item.prixarticle*item.quantitesaisie).toFixed(2)}} </p>
      <p>Montant TTC: {{(item.prixarticle*item.quantitesaisie*(1 + item.tvaarticle/100)).toFixed(2)}} </p>
      <p>Date livraison souhaitée: {{item.datelivraison}} </p>
      <p>Date récéption: {{item.datereception}} </p>
      <button ion-button clear item-end (click)="detailTapped($event, item)">Détail</button>


    </button>

  </ion-list>

  <button type="submit" ion-button color="secondary" (click)="creerNouvelArticle($event)" block>
    Ajouter article
  </button>

  <ion-item>
    <ion-label style="color: #000;">
      Observations :
    </ion-label>
    <ion-textarea type="text" name="observations" placeholder="Observations" [(ngModel)]="sousdemandeActuelle.observations"  ></ion-textarea>
  </ion-item>

  <div *ngIf="sousdemandeActuelle.validee" class="reception">

    <ion-item padding="0">
      <h1 >Reception de la livraison:</h1>
    </ion-item>

    <ion-list>

      <ion-item *ngFor="let itemR of listeArticles">

        <ion-label style="color: #000;">
          Quantité récéptionnée:
          <p>Num article : {{itemR.idarticle}}</p>
          <p>Désignation: {{itemR.nomproduit}} </p>
        </ion-label>
        <ion-input type="text" name="quantiterecue" placeholder="" [(ngModel)]="itemR.quantiterecue"></ion-input>
      </ion-item>

    </ion-list>

    <ion-item padding="0">
      <h1 >Bon de livraison:</h1>
    </ion-item>

    <ion-item>
      <ion-label style="color: #000;">
        Numero BL :
      </ion-label>
      <ion-input type="tel" name="text" placeholder="" [(ngModel)]="sousdemandeActuelle.numerobl"  ></ion-input>
    </ion-item>


    <ion-item style="padding-bottom:4px;padding-top: 4px">
      <ion-label>Photo BL:</ion-label>

    </ion-item>

    <img  [(src)]="'data:image/jpeg;base64,' + sousdemandeActuelle.photobl" *ngIf="sousdemandeActuelle.photobl"/>

    <br>
    <br>

    <div text-center>
      <button ion-button round (click)="photoBLChooser()">
        Charger Photo  <ion-icon padding name="camera"></ion-icon>
      </button>
    </div>

    <br>
    <br>

    <ion-item style="padding-bottom:4px;padding-top: 4px">
      <ion-label>Photo Fourniture:</ion-label>

    </ion-item>

    <img  [(src)]="'data:image/jpeg;base64,' + sousdemandeActuelle.photofourniture" *ngIf="sousdemandeActuelle.photofourniture"/>

    <br>
    <br>

    <div text-center>
      <button ion-button round (click)="photoFournitureChooser()">
        Charger Photo  <ion-icon padding name="camera"></ion-icon>
      </button>
    </div>

    <br>
    <br>

  </div>



  <button type="submit" *ngIf="!sousdemandeActuelle.traitee" color="tertiary" ion-button  block (click)="enregistrerEtatTraite()">
    Traiter
  </button>

  <button type="submit" *ngIf="!sousdemandeActuelle.validee && sousdemandeActuelle.traitee" color="tertiary" ion-button  block (click)="enregistrerEtatValide()">
    Valider
  </button>

  <button type="submit" *ngIf="!sousdemandeActuelle.receptionnee && sousdemandeActuelle.validee" color="tertiary" ion-button  block (click)="enregistrerEtatRecepetionne()">
    Receptionner
  </button>

  <button type="submit" *ngIf="sousdemandeActuelle.receptionnee" color="tertiary" ion-button  block (click)="enregistrerEtatDerecepetionne()">
    Déreceptionner
  </button>

  <button type="submit" *ngIf="!sousdemandeActuelle.receptionnee && sousdemandeActuelle.validee" color="tertiary" ion-button  block (click)="enregistrerEtatDevalide()">
    Dévalider
  </button>
  <br><br>

  <button type="submit" color="tertiary" ion-button  block (click)="enregistrerModificationObjet()">
    Enregistrer informations
  </button>


  <button type="submit" color="danger" ion-button  block (click)="genererBonDeCommande()">
    Generer bon de commande
  </button>



  <br>
  <br>
  <br>

</ion-content>



